@media only screen and (max-width:1000px)
{
    #input
    {
        width: 410px;
        height: 60px;
        font-size: 40px;
    }
    #code
    {
        font-size: 22px;
    }
    .insta
    {
        font-size: 22px;
    }
    #sendmessage
    {
        font-size: 22px;
    }
    #percentage
    {
        font-size: 30px;
    }
}